# Compiled binaries
*.exe
*.out
*.o
*.obj

# Build directories
build/
out/
bin/
Debug/
Release/

# Qt specific
*.pro.user
*.qmlc
*.jsc
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*_autogen/
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

# VS Code
.vscode/

# Misc
*.stackdump
